
html{

}
body{
width :400px;
border:2px solid green;
float:center;
padding:5px;
text-align:center;
background-color:#b0c4de;
}
h1{
font-size:24px;
}
footer{
border:1px solid blue;
}
.describe
{
color: red;
font-size:20px;
}
